@tailwind base;
@tailwind components;
@tailwind utilities;
/* Para que el carrusel de mascotas sea fluido y limpio */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}